footer {
    width: 10%;
    position: absolute;
    top: 90%;
    right: 4%;
    color: white;
}
@media (max-width: 768px) {
    footer { 
        width: 30%;
    }
}
.icon {
    margin-left: 0.1em;
    margin-right: 0.1em;
}
.icon:hover {
    color: #E1D9D1;
    cursor: pointer;
}
footer a {
    color: white;
}
