@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    border-style: border-box;
}

body {
    background-color: #edc7b7
}
.avatar {
    width: 60%;
    height: 100%;
    border-radius: 10px;
}


.skillsTitle {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #AC3B61; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    margin-top: 1em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
.skillsSubTitle {
  color: #fff;
  font-family: monospace;
  letter-spacing: .15em;
  font-size: 22px;
}

@media (max-width: 1100px) {
  .container-fluid > .row {
    margin-top: 6em;
  }
  .skillsTitle {
    font-size: 20px;
  }
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #AC3B61 }
  }

  .scrollButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;           
  }
  
  .scrollIcon {
    transform: rotate(90deg) scale(2);
    display: inline-block;
    position: relative;
    animation: 2.5s scrollIcon infinite;
    color: white;
    text-decoration: none;
  }

  .scrollIcon:hover {
    color: #AC3B61;
    text-decoration: none;
  }
  
  @keyframes scrollIcon {
    0% {
      opacity: 0;
      top: 0; 
    } 
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 15px;
    }
  }

.iconsCol {
  margin-top: 2em;
  background-color: white;
  border-top: 3px solid #D3D3D3;
  border-bottom: 3px solid #D3D3D3;
  transform: rotate(359deg);
}

.iconsCol i {
  margin: 10px 20px;
  /* color: #edc7b7; */
  color: #AC3B61;
}

.icon {
  height: 4em;
  width: auto;
  color: #AC3B61;
  vertical-align: middle;
}

.normalText {
  color: white;
  font-family: 'Dongle', sans-serif;
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.organisationText {
  color: #AC3B61;
  font-family: 'Dongle', sans-serif;
  font-size: 22px;
  padding : 0;
  margin : 0;
}

.organisationName {
  color: #AC3B61;
  font-family: 'Dongle', sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding : 0;
  margin : 0;
}

.experienceCol {
  background-color: white;
  border: 3px solid #D3D3D3;
  border-radius: 5px;
}

.experienceCol hr {
  height: 3px;
}

.scotch2 {
  background-color: transparent;
}

.footerIcons {
  text-align: center;
}

.footerIcons i {
  margin: 30px 20px;
  padding: 10px;
  color: #AC3B61;
}

.footerIcons i:hover {
  cursor: pointer;
  color: white;
}